<div class="center jumbotron">
  <h1>Bienvenidos a Steam Sin Tarjeta!</h1>

  <h2>
    Para comenzar tu compra has click en el botón
  </h2>

  <a class="btn btn-primary" href="#"> <i class="fa fa-shopping-cart fa-lg"></i> Comprar</a>
  
  
	
  <%#= link_to "Comprar", '#', class: "btn btn-lg btn-primary" %>
  <%#=image_tag("steam-icon.png", alt: "SteamST")%>
</div>




